* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.rotate {
  transform: rotate(180deg);
}

.main {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 150px auto;
  max-width: 90%;
}

.slider {
  gap: 20px;
  display: flex;
  width: 980px;
  overflow-x: scroll;
}

.images {
  position: relative;
}

.images img {
  width: 300px;
  height: 300px;
  max-width: 300px;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ccc;
}

.images:hover .open_img {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline;
}

.open_img {
  display: none;
  cursor: pointer;
}

.open_img img {
  width: 40px;
  height: 50px;
}

.close_popup {
  position: absolute;
  top: 10px;
  right: 50px;
}

/* image Popup */

.popup_img {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000bd;
}

.close_popup img {
  width: 50px;
  cursor: pointer;
}

.popup_image_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup_image_gallery img {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .hidden {
    display: none;
  }
}
